<!DOCTYPE html>

<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music_teksts</title>
</head>

<body>
    <h1>Текста песен!</h1>
    <p>Панк Рок и Рок</p>
    <p>Группы:</p>
    <ul>
        <li>ПФ</li>
        <li>Anacondaz</li>
        <li>Дайте танк</li>
        <li>Кис-Кис
            <figure>
                <img src="https://kiskisnotdead.com/assets/new/image/menu/logomenu.svg"
                     title="Кис-кис"
                     alt="Логотип Кис-Кис (розовая кошка, породы сфинкс)"
                     width="160"
                     height="120"
                >

            </figure>
        </li>
        <li>Король и Шут</li>
        <li>Нервы</li>
        <li>Ария</li>
        <li>Алиса</li>
    </ul>
    <figure>
        <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Flookaside.fbsbx.com%2Flookaside%2Fcrawler%2Fmedia%2F%3Fmedia_id%3D2253592361574176&imgrefurl=https%3A%2F%2Fwww.facebook.com%2Fdaitetank%2F&tbnid=fEXxyaA3JYsJMM&vet=12ahUKEwi7w8ezpKX6AhXJmIsKHSP8Br0QMygBegUIARDDAQ..i&docid=-UergElsEY8LJM&w=960&h=960&q=%D0%B4%D0%B0%D0%B9%D1%82%D0%B5%20%D1%82%D0%B0%D0%BD%D0%BA%20%D0%BB%D0%BE%D0%B3%D0%BE&ved=2ahUKEwi7w8ezpKX6AhXJmIsKHSP8Br0QMygBegUIARDDAQ">
            <figcaption>
            Логотип группы "Дайте танк"
            </figcaption>
    </figure>
</body>

</html>