<!DOCTYPE html>

<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music_teksts</title>
</head>

<body>
    <h1>Текста песен!</h1>
    <p>Панк Рок и Рок</p>
    <p>Группы:</p>
    <ul>
        <li>ПФ</li>
        <li>Anacondaz</li>
        <li>Дайте танк</li>
        <li>Кис-Кис</li>
        <li>Король и Шут</li>
        <li>Нервы</li>
        <li>Ария</li>
        <li>Алиса</li>
    </ul>
    <figure>
        <img src="https://www.google.ru/images/branding/googlelogo/2x/googlelogo_color_120x44dp.png﻿">
            <figcaption>
            Лого гугла от ﻿2015 года
            </figcaption>
    </figure>
</body>

</html>